<div class="titles__head">
    <div id="crumbs">
        <a class="crumb-link" href="https://www.koodit.it">Home</a>
        •
        <a class="crumb-link" href="https://www.koodit.it/carriera/">Lavora con
            noi</a>
        •
        <span class="current-crumb">Lead Web Developer</span>
    </div>
    <h1>Application</h1>
    <h2>Lead Web Developer</h2>
</div>
<div class="accordions_container">
    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Chi Cerchiamo</span>
    </button>
    <div class="panel">
        <p>
            <u>
                Stiamo cercando un
                <strong>Lead Web Developer</strong>
                con esperienza lavorativa nel settore da almeno 6 anni. La
                figura lavorerà a stretto contatto con il project manager di
                riferimento per identificare gli obiettivi di progetto e
                assicurarsi che il team di Web Development e le tecnologie
                utilizzate siano allineati al raggiungimento delle milestone
                individuate.
            </u>
        </p>
        <p>
            Il candidato ideale ha spiccata leadership, è appassionato,
            determinato e pronto a nuove sfide. Sarà a capo del team di Web
            Development e si occuperà di: coordinare le figure Junior e gestire
            lo sviluppo dei progetti per i nostri clienti. Contribuirà inoltre
            attivamente al miglioramento di processi, alla ricerca di nuove
            tecnologie e soluzioni capaci di rendere “brillanti” i nostri
            risultati.
        </p>
        <p>“Kooding a smarter tomorrow”</p>
    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Job Description</span>
    </button>
    <div class="panel">
        <p>
            Il
            <strong>Lead Web Developer</strong>
            ha le skill di un Senior Developer, dovrà essere in grado di
            coordinare il team di sviluppo e avere allo stesso tempo la capacità
            di ridurre il gap con gli altri business team.
        </p>
        <p><strong>Mansioni e principali responsabilità del candidato</strong></p>
        <ul>
            <li>Coopera con il Project Manager di riferimento al fine di
                comprendere le necessità di business, traducendole in necessità
                tecniche per il team di web development.</li>
            <li>Pianifica e documenta le specifiche tecniche per fornire
                corretti brief ai team che collaborano sul progetto.</li>
            <li>Seleziona le tecnologie più appropriate alle necessità del
                cliente.</li>
            <li>Stima l’effort necessario alla realizzazione dei progetti in
                collaborazione con il Project Manager e il proprio team.</li>
            <li>Coordina e supporta il team di Web Development nello sviluppo,
                nel coding, nel testing e nel debugging di piattaforme web e
                sistemi e-commerce.</li>
            <li>Gestisce le code review del team attraverso piattaforme e
                repository come Github.</li>
            <li>Sviluppa secondo le logiche dell’efficienza e della scalabilità
                del codice.</li>
            <li>Sarà un punto di riferimento per gli sviluppatori Junior del
                proprio team, assicurandosi che rispettino sempre gli standard
                qualitativi richiesti.</li>
            <li>Organizza periodicamente meeting con il proprio team per
                individuare criticità, aree di miglioramento e costruire
                opportunità che migliorino l’operatività.</li>
            <li>Riferisce direttamente al management per indirizzare lo sviluppo
                tecnologico dell’offerta di Koodit.</li>
        </ul>
    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Chi Siamo</span>
    </button>
    <div class="panel">
        <p><u>Crediamo nella&nbsp;forza del team, nelle&nbsp;competenze&nbsp;e
                nella&nbsp;voglia di crescere&nbsp;di ogni “Kooder”.</u><br />Ci
            impegniamo ogni giorno perché ognuno di noi possa diventare
            la&nbsp;miglior versione di sé stesso.</p>
        <p>Siamo una web business company che sviluppa ecosistemi digitali.</p>
        <p>Progettiamo piattaforme e-commerce, siti web e strategie
            omni-channel.</p>
        <p>Costruiamo soluzioni su misura per la vendita di prodotti e servizi
            online, mettendo la tecnologia al servizio del business.</p>

    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Requirements</span>
    </button>
    <div class="panel">

        <p>Siamo alla ricerca di una persona con attitudine a: formazione
            continua, lavoro in team e propensione a rendersi un punto di
            riferimento all’interno di un’azienda in crescita.</p>
        <p><strong>I requisiti più importanti sono:</strong></p>
        <ul>
            <li>Formazione universitaria. Verranno tenuti in considerazione
                anche candidati in possesso di diploma, se con esperienza
                specifica nel ruolo</li>
            <li>Intraprendenza</li>
            <li>Attenzione e cura nella comunicazione.</li>
            <li>Attitudine al lavoro in team</li>
            <li>Leadership</li>
            <li>Conoscenza della lingua inglese</li>
            <li>Senso di responsabilità, flessibilità e problem solving</li>
            <li>Solida esperienza in web development, backend e frontend</li>
        </ul>
        <p><strong>Esperienza nelle seguenti tecnologie/linguaggi:</strong></p>
        <ul>
            <li><em>Javascript</em></li>
            <li><em>PHP</em></li>
            <li><em>HTML</em>/<em>CSS</em></li>
            <li><em>Headless CMS (es: netlify, wordpress headless ecc)</em></li>
            <li>Uso di framework React e Vue.js</li>
            <li><em>WordPress (struttura template)</em></li>
            <li><em>CMS e-commerce (Woocommerce, Magento)</em></li>
            <li><em>GIT</em></li>
            <li><em>Docker</em></li>
        </ul>

    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Formazione Interna</span>
    </button>
    <div class="panel">
        <p>In Koodit, ci impegniamo davvero perché ogni giorno ognuno di noi
            possa diventare “la miglior versione di sé stesso”.</p>
        <p>Per questo motivo la formazione assume un ruolo fondamentale nella
            quotidianità di tutti i “Kooder”. Con questa scelta, abbiamo deciso
            di investire costantemente tempo e risorse per costruire piani di
            formazione dedicati e personalizzati a tutte le figure del nostro
            team.</p>
    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Benefits Aziendali</span>
    </button>
    <div class="panel">
        <p>Crediamo fortemente nel nostro team e nelle persone che lo formano,
            per questo prestiamo particolare attenzione a: strumentazione
            quotidiana (Computer, postazione di lavoro e altri gadget
            tecnologici) e attività di team-building.</p>
        <p>L’ambiente di lavoro crediamo sia molto importante, per questo il
            nostro headquarter di Biella è situato all’interno del Lanificio
            Maurizio Sella: un’area industriale riqualificata, dove respirare
            tradizione e innovazione. Qui è inoltre possibile usufruire di
            servizi extra: cucine, bar, ristorante, spogliatoi per le attività
            sportive e sale polivalenti.</p>
    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>RAL</span>
    </button>
    <div class="panel">
        <p>Contratto full-time indeterminato – CCNL del commercio</p>
        <p><u>Il livello di inquadramento sarà commisurato alla seniority
                posseduta. Range retributivo di RAL tra: 30.000 – 50.000 €</u></p>
    </div>

    <button class="accordion">
        <div class="square"><span class="plus"><i
                    class="fa fa-plus"
                ></i></span></div>
        <span>Sede Di Lavoro</span>
    </button>
    <div class="panel">
        <p>Biella, con
            <u>possibilità di smart working</u>
            dopo un primo periodo di inserimento.</p>
        <p><em>Tutte le posizioni aperte da Koodit s.r.l. sono rivolte anche ai
                candidati appartenenti alle Categorie Protette
                (L.68/99),&nbsp;uomini e donne (L. 903/77, L. 125/91, D. Lgs.
                198/06) e a tutte le nazionalità (D. Lgs. 215/03 e 216/03).</em></p>
    </div>
</div>
<h3>Invia qui la tua candidatura</h3>

<div class="form__container">
    <form
        action="/carriera/lead-web-developer"
        method="post"
        class=""
        novalidate="novalidate"
        id="user-form"
    >
        <div class="form__fields">
            <div>
                <input
                    type="text"
                    name="name"
                    value=""
                    size="40"
                    class=""
                    aria-required="true"
                    aria-invalid="true"
                    placeholder="Nome*"
                />
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>
            <div>
                <input
                    type="text"
                    name="surname"
                    value=""
                    size="40"
                    class=""
                    aria-required="true"
                    aria-invalid="false"
                    placeholder="Cognome*"
                />
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>
            <div>
                <input
                    type="email"
                    name="email"
                    value=""
                    size="40"
                    class=""
                    aria-required="true"
                    aria-invalid="true"
                    placeholder="Email*"
                />
                <div class="not-valid" aria-hidden="true">
                    L'indirizzo email inserito non è valido.
                </div>
            </div>
            <div>
                <input
                    type="tel"
                    name="tel"
                    value=""
                    size="40"
                    class=""
                    aria-required="true"
                    aria-invalid="true"
                    placeholder="Telefono*"
                />
                <div class="not-valid" aria-hidden="true">
                    Il numero di telefono non è valido.
                </div>
            </div>
        </div>
        <div class="form__github">
            <div>
                Per completare il primo processo di selezione e permetterci di
                valutare le sue competenze, abbiamo avviato una code challenge
                che la invitiamo a svolgere in seguito alla sua candidatura,
                accedendovi da questa
                <a href="https://github.com/Koodit/lead-dev-codechallenge">
                    GitHub Repository
                </a>.
                <b>
                    Per permetterci di individuare la sua Pull Request, la
                    invitiamo a indicarci il suo username GitHub qui di seguito
                </b>
            </div>
            <div>
                <input
                    type="text"
                    name="usernameGitHub"
                    value=""
                    size="40"
                    class=""
                    aria-required="true"
                    aria-invalid="true"
                    placeholder="Username GitHub*"
                />
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>
        </div>

        <div class="form__privacy">
            <h6>Per la tua privacy</h6>
            <p class="article__title" style="font-size:9px">Dichiaro di aver
                letto
                <a
                    target="_blank"
                    href="https://www.iubenda.com/privacy-policy/7839617?ifr=true&amp;height=650&amp;newmarkup=yes&amp;an=no"
                >
                    l'informativa su privacy e cookie</a>
                e autorizzo Koodit s.r.l. al trattamento dei miei dati
                personali, in conformità con il Regolamento Europeo Privacy
                679/2016.
            </p>
            <p class="article__title" style="font-size:9px">
                *Acconsento al trattamento dei miei dati personali per le
                finalità di invio di materiale promozionale e marketing da parte
                di Koodit s.r.l
            </p>
            <div>
                <input
                    type="checkbox"
                    name="marketing"
                    id="marketing"
                    value="1"
                />
                <label for="marketing">Acconsento(*)</label>
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>
            <p class="article__title" style="font-size:9px">
                *Autorizzo il trattamento dei miei dati personali ai sensi del
                Dlgs 196 del 30 giugno 2003 e dell’art. 13 GDPR (Regolamento UE
                2016/679) ai fini della ricerca e selezione del personale.
            </p>
            <div>
                <input
                    type="checkbox"
                    name="trattamento-cv"
                    id="trattamento-cv"
                    value="1"
                />
                <label for="trattamento-cv">Autorizzo(*)</label>
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>

            <div class="jfile">
                <input type="file" name="file" id="file" />
                <!-- Drag and Drop container-->
                <div class="upload-area" id="uploadfile">
                    <h3>Drag & Drop del file qui</h3>
                    <span>o</span>
                    <div class="uploadFile">Cerca...</div>
                </div>
                <div class="not-valid" aria-hidden="true">
                    Il campo è richiesto.
                </div>
            </div>
            <div class="files-list">
                
            </div>
        </div>

        <div>
            <input
                type="submit"
                value="INVIA CANDIDATURA"
                class="form__button"
                disabled
            />
        </div>

        <div class="general-error">Uno o più campi hanno degli errori. Controlla
            e riprova.</div>
        <div class="generic-error">C'è stato un errore durante il salvataggio, riprova piú tardi.</div>
        <div class="form-ok">Grazie la tua candidatura è stata inviata.</div>
    </form>
</div>

<script type="text/template" id="fileItem">
    <div class="dnd-upload-status">
        <div class="dnd-upload-image">
            <span class="file"></span>
        </div>
        <div class="dnd-upload-details">
            <span class="name">
                <span data-content="name"></span> <em data-content="size"></em>
            </span>
            <a
                href="#"
                title="Remove"
                class="remove-file">
                    <span class="dnd-icon-remove"></span>
                    <span class="jid" data-content="fileId" style="display:none"></span>
            </a>
            <span class="dnd-progress-bar">
                <span>100%</span>
            </span>
        </div>
    </div>
</script>