<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lead Web Developer - Koodit</title>
    <meta
        name="description"
        content="La figura lavorerà a stretto contatto con il project manager di riferimento per identificare gli obiettivi di progetto e assicurarsi che il team di Web Development e le tecnologie utilizzate siano allineati al raggiungimento delle milestone individuate."
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>